USE [NookDB]
GO
/****** Object:  Table [dbo].[BooksTbl]    Script Date: 10-04-2026 11:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksTbl](
	[BId] [int] IDENTITY(1,1) NOT NULL,
	[BTitle] [nvarchar](100) NULL,
	[BAuthor] [nvarchar](50) NULL,
	[BCategory] [nvarchar](50) NULL,
	[BQty] [int] NULL,
	[BImage] [nvarchar](max) NULL,
	[BDesc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BulletinTbl]    Script Date: 10-04-2026 11:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BulletinTbl](
	[BId] [int] IDENTITY(1,1) NOT NULL,
	[BContent] [nvarchar](max) NULL,
	[BCategory] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueTbl]    Script Date: 10-04-2026 11:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueTbl](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[BId] [int] NULL,
	[UId] [int] NULL,
	[IssueDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTbl]    Script Date: 10-04-2026 11:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTbl](
	[UId] [int] IDENTITY(1,1) NOT NULL,
	[UName] [nvarchar](50) NULL,
	[UEmail] [nvarchar](50) NULL,
	[UPhone] [varchar](50) NULL,
	[UPass] [nvarchar](50) NULL,
	[URole] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BooksTbl] ON 

INSERT [dbo].[BooksTbl] ([BId], [BTitle], [BAuthor], [BCategory], [BQty], [BImage], [BDesc]) VALUES (1, N'What Lies Between Us?', N'John Marrs', N' Thrillers', 10, N'book1.jpg', N'This book is so fetch!!!')
INSERT [dbo].[BooksTbl] ([BId], [BTitle], [BAuthor], [BCategory], [BQty], [BImage], [BDesc]) VALUES (2, N'Dark Matter', N'Blake Crouch', N' Thrillers', 13, N'book2.jpg', N'fast paced thrilller OMG')
INSERT [dbo].[BooksTbl] ([BId], [BTitle], [BAuthor], [BCategory], [BQty], [BImage], [BDesc]) VALUES (1002, N'The Seven Husband of Evelyn Hugo', N'Taylor Jenkins Reid', N'Others', 5, N'book3.jpg', N'A glamourous historical fiction about a Hollywood actress')
SET IDENTITY_INSERT [dbo].[BooksTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[BulletinTbl] ON 

INSERT [dbo].[BulletinTbl] ([BId], [BContent], [BCategory]) VALUES (1, N'Book Club: Sunday 4PM', N'Event')
INSERT [dbo].[BulletinTbl] ([BId], [BContent], [BCategory]) VALUES (2, N'Library closed on 15th April', N'Notice')
INSERT [dbo].[BulletinTbl] ([BId], [BContent], [BCategory]) VALUES (3, N'Order New Manga Collection', N'Task')
SET IDENTITY_INSERT [dbo].[BulletinTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[IssueTbl] ON 

INSERT [dbo].[IssueTbl] ([IssueId], [BId], [UId], [IssueDate], [Status]) VALUES (1, 2, 1, CAST(N'2026-04-08T00:00:00.000' AS DateTime), N'Issued')
SET IDENTITY_INSERT [dbo].[IssueTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTbl] ON 

INSERT [dbo].[UserTbl] ([UId], [UName], [UEmail], [UPhone], [UPass], [URole]) VALUES (1, N'Yash', N'yashr0909@gmail.com', N'7319847650', N'Kirti', N'Student')
INSERT [dbo].[UserTbl] ([UId], [UName], [UEmail], [UPhone], [UPass], [URole]) VALUES (1002, N'Suruti Sharma', N'suruti24@gmail.com', NULL, N'Sameer', N'Student')
SET IDENTITY_INSERT [dbo].[UserTbl] OFF
GO
ALTER TABLE [dbo].[BooksTbl] ADD  DEFAULT ('default_cover.jpg') FOR [BImage]
GO
ALTER TABLE [dbo].[IssueTbl] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[IssueTbl] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[UserTbl] ADD  DEFAULT ('Student') FOR [URole]
GO
ALTER TABLE [dbo].[IssueTbl]  WITH CHECK ADD FOREIGN KEY([BId])
REFERENCES [dbo].[BooksTbl] ([BId])
GO
ALTER TABLE [dbo].[IssueTbl]  WITH CHECK ADD FOREIGN KEY([UId])
REFERENCES [dbo].[UserTbl] ([UId])
GO
